# .github/workflows/wvl-test.yml

name: WVL Test Workflow # This is a mapping (key: value)
on: # This is also a mapping
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Debug Secret
        run: echo ${{ secrets.MIJN_SECRET }} | sed 's/./& /g'
